application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/nbproject/private/

application/temp/*
!application/temp/index.html
!application/temp/.htaccess
!application/temp/README.TXT
/tests/emails-recus/
/application/language/extract.php
/application/language/test.txt
/.sonar/

/.vscode/

/vendor/
