application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/nbproject/private/

application/temp/*
!application/temp/index.html
!application/temp/.htaccess
!application/temp/README.TXT
/tests/emails-recus/
/application/language/extract.php
/application/language/test.txt
/.sonar/

/.vscode/

/vendor/

/node_modules/
/assets/js/app.js
/assets/css/app.css

yarn-error.log

var/cache/*/

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
